<div>
  <% if signed_in? %>
    <%= link_to "(#{current_user.name}) Sign Out", signout_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign In", signin_path %>
  <% end %>
</div>

<h1>Secret Posts</h1>

<% @posts.each do |post| %>
  <% if signed_in? %>
    <p>
      <%= post.user.name %>
    </p>
  <% end %> 

  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
<% end %>

<% if signed_in? %>
  <%= link_to "New Post", new_post_path %>
<% end %>